.company-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .companiesPageErrow{
    margin-left: 6rem;
    margin-top: -2rem;
  }
  .companiesPage-row{
    width: 80% !important;
    margin-left: 10rem !important;
    margin-top: -4rem;

  }